<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--配置日志:通过日志可以查看日常操作的一些bug-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

<!--    给实体类起一个别名：-->
    <typeAliases>
        <typeAlias  alias="user" type="com.jc.pojo.User"/>
    </typeAliases>


<!--

我在mybatis-spring的配置文件中 spring-dao.xml 中进行sqlSessionFactory配置时候，
引入了 mapperLocations 这个property 参数，已经绑定了UserMapper接口。 然后，下面代码又重新绑定了一遍。所以导致错误

-->

<!--    注册映射的接口类-->
    <mappers>
        <mapper class="com.jc.mapper.UserMapper"/>
    </mappers>


    
    
    
</configuration>